.form {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 80px 50px;

}

.form form {
    flex: 1;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 32px 64px;
    box-shadow: 9px 9px 20px rgba(0, 0, 0, 0.8);

}